.document-logs-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: #F4EBDC;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.document-logs-card {
  background: #F4EBDC;
  padding: 20px;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
  width: 80%;
  max-width: 900px;
  transition: transform 0.3s ease-in-out;
}

.document-logs-card:hover {
  transform: translateY(-5px);
}

.document-logs-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #3A506B;
  margin-bottom: 20px;
}

.document-logs-title img {
  width: 45px;
  height: 45px;
}

.document-logs-filter-section {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.document-logs-filter-input {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #D8C3A5;
  border-radius: 8px;
  background-color: #FFF;
  width: 240px;
  transition: all 0.3s ease-in-out;
}

.document-logs-filter-input:focus {
  border-color:#D8C3A5;
  outline: none;
}

.document-logs-button-group {
  display: flex;
  gap: 12px;
}

.document-logs-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 18px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.document-logs-btn:hover {
  transform: scale(1.05);
}

.document-logs-apply-btn {
  background-color: #3A506B;
  color: #fff;
  border: #000;
}

.document-logs-clear-btn {
  background-color: #3A506B;
  color: #fff;
  border: #000;
}

.document-logs-table-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.document-logs-logs-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.document-logs-logs-table th,
.document-logs-logs-table td {
  border: 1px solid #D8C3A5;
  padding: 16px;
  text-align: left;
  transition: background 0.3s ease-in-out;
}

.document-logs-logs-table th {
  background-color: #D8C3A5;
  font-weight: bold;
  color: #000;
}

.document-logs-logs-table tr:nth-child(even) {
  background-color: #F4EBDC;
}

.document-logs-logs-table tr:nth-child(odd) {
  background-color: #FFF;
}

.document-logs-logs-table tr:hover {
  background-color: #D8C3A5;
}

.document-logs-no-data {
  text-align: center;
  padding: 20px;
  color: #3A506B;
  font-weight: bold;
}

.document-logs-back-button {
  margin-top: 20px;
  text-align: center;
}

.document-logs-back-btn {
  background-color: #3A506B;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.document-logs-back-btn:hover {
  transform: scale(1.05);
}