Full screen layout

body {
  background-color: #f4ebdc !important;
}



.dashboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4ebdc;
}
  /* Sidebar and content wrapper */
.dashboard-content {
    display: flex;
    flex: 1;
    background-color: #F4EBDC ;
}
  /* Sidebar styling */
.sidebar {
    width: 20%;
    min-width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    top:56px !important;
}
  /* Main content styling */

  /* Title styling */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
   
}







